@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Zen Old Mincho", serif;
}

header,
main,
footer {
  width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
}

.flex {
  display: flex;
  color: #6b3f31;
}

.flex ul li {
  list-style-type: none;
}

h2 {
  font-weight: lighter;
  border-bottom: 1px solid #6b3f31;
  display: inline-block;
  color: #6b3f31;
  font-size: 24px;
}

.akusesu {
  text-align: center;
  margin: 50px auto;
}
.flex{
  padding-left: 80px;
}
.setsumei ul{
  margin-left: 180px;
  margin-top: 160px;
  line-height: 2;
}
.setsumei ul li{
  font-size: 20px;
}

footer {
  margin-top: 50px;
}
