@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Zen Old Mincho", serif;
}

header,
main,
footer {
	width: 1200px;
	margin: 0 auto;
}

section {
	margin-bottom: 70px;
	max-width: 1000px;
	text-align: center;
}

header {
	margin-top: 20px;
}

section h2 {
	font-weight: lighter;
	border-bottom: 1px solid #6b3f31;
	line-height: 1.5;
	color: #6b3f31;
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block;
}

.menuhyou img {
	width: 260px;
	height: 260px;
}

.menuhyou p {
	line-height: 2;

}

.menuhyou {
	margin-bottom: 40px;
}

.menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #6b3f31;
}

.name {
	font-size: 20px;
	margin: 15px auto;
}

.name,
.price {
	text-align: center;
}

.zenmenu {
	display: flex;
	overflow-x: scroll;
}

.menuhyo img {
	width: 200px;
	height: 200px;
}

.zenmenu .menuhyo {
	flex-shrink: 0;
	margin-left: 75px;
	margin-bottom: 30px;
}

.menuhyo p {
	text-align: center;
}

.zenmenu .menuhyo:first-child {
	margin-left: 0;
}
